In [2]:
#using input() take one number from the user and using ternary check whether the number is even or odd
number=int(input("enter a number"))
if number%2==0:
    print("number is even")
else:
    print("numer is odd")

enter a number 3

numer is odd

In [22]:
#using input function take two numbers and then swap the numbers
num1=int(input("enter first number"))
num2=int(input("enter second number"))
temp=num1
num1=num2
num2=temp
print("AFTER SWAPPING")
print("num1",num1)
print("num2",num2)

enter first number 5
enter second number 10

AFTER SWAPPING
num1 10
num2 5

In [18]:
#program to convert kilometers to miles
KM=float(input("Enter the Kilometer"))
miles=KM*0.621371
print("KM is equal to:",miles)

Enter the Kilometer 10

KM is equal to: 6.21371

In [20]:
#simple interst on Rs 200 for 5 years at 5% per year
P=200
R=5
T=2

SI=(P*T*R)/100
print(SI)

20.0