In [3]:
#program to find the number of times 4 appears in the tuple

t=(2,4,5,6,2,3,4,4,7)

count= t.count(4) #counting number of times 4 appears
print (count)

3

In [4]:
#program to covert list into tuple
list=[5,10,7,4,15,3]

result=tuple(list) # converting list to tuple
print(result)

(5, 10, 7, 4, 15, 3)

In [41]:
#program to calculate the sum of numbers in the given tuple

tupple=[(1,2),(3,4),(5,6)]

total=sum(sum(t) for t in tupple) # sum of te tuple

print(total)

21

In [47]:
#program to iterate the given tuple

employee1=("John Doe", "101", "Human Resources", "60000")
employee2=("Alice Smith", "102", "Marketing", "55000")
employee3=("Bob Johnson", "103", "Engineering", "75000")

print("Employee Records")

print("Employee:", employee1[0])
print("Code:",employee1[1])
print("department:",employee1[2])
print("Salary:",employee1[3])
print("\n")
print("Employee:", employee2[0])
print("Code:",employee2[1])
print("department:",employee2[2])
print("Salary:",employee2[3])
print("\n")
print("Employee:", employee3[0])
print("Code:",employee3[1])
print("department:",employee3[2])
print("Salary:",employee3[3])

Employee Records
Employee: John Doe
Code: 101
department: Human Resources
Salary: 60000


Employee: Alice Smith
Code: 102
department: Marketing
Salary: 55000


Employee: Bob Johnson
Code: 103
department: Engineering
Salary: 75000